<div class="row" id="header">

    <div class="col-md-4">
            <h3 class="logo">App Management System</h3>
    </div>
    <div class="col-md-8">
    	<ul class="nav nav-pills">
		  <li class="active" id='keywordsNav'><a href="#"  id="goToKeywords">Keywords</a></li>
		  <li id='appsNav'><a href="#" id="goToApps">Apps</a></li>
		  <li id="helpNav" class="pull-right"><a href="#" id="goToHelp">Help</a></li>
		</ul>
    </div>
<div class="col-md-12">
	<hr>
</div>
</div>

